@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
#typewriter {
  font-family: 'IBM Plex Mono', monospace;
  overflow: hidden;
  border-right: .15em solid seagreen;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:  seagreen; }
}